<div class="results-block mt-3">
    <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block mt-3">
    <table class="col-md-12">
        <tbody>
            <% @friends.each do |friend| %>
                <tr>
                    <td><strong>Username: </strong> <%= friend.username %></td>
                    <td><strong>Email: </strong> <%= friend.email %></td>
                    <td><strong>Number of stocks: </strong> <%= friend.stocks.count %></td>
                    <td><strong>Actions: </strong> <%= link_to 'View profile', user_path(friend), class:"btn btn-sm btn-outline-primary" %>
                    <% if current_user.not_friends_with?(friend.id) %>
                        <%= link_to 'Follow friend', friendships_path(friend: friend), class: "btn btn-sm btn-primary", method: :post %>
                    <% else %>
                        <span class="badge bg-secondary">
                            Already friend
                        </span>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>
<% end %>